# Node
node_modules
dist
.eslintcache

# Rust
target
Cargo.lock

# NAPI-RS Output
packages/tsdk/src/rsdk.js
packages/tsdk/src/rsdk.d.ts
packages/tsdk/npm

# Sidecars & OS
.bin
.DS_Store
.env
tsrlib.txt
